<div class="container-fluid mt-5">
  <div class="row">
    <!-- col-md-6 col-lg-4 -->
    <div class="col-sm-2 p-3">
      <div class="sidebar">
        <a
          [ngClass]="{ 'active-btn': category === 'all' }"
          (click)="setCategory('all')"
          >All Categories</a
        >
        <a
          [ngClass]="{ 'active-btn': category === 'Bread' }"
          (click)="setCategory('Bread')"
          >Bread</a
        >
        <a
          [ngClass]="{ 'active-btn': category === 'Dairy' }"
          (click)="setCategory('Dairy')"
          >Dairy</a
        >
        <a
          [ngClass]="{ 'active-btn': category === 'Fruits' }"
          (click)="setCategory('Fruits')"
          >Fruits</a
        >
        <a
          [ngClass]="{ 'active-btn': category === 'Spices' }"
          (click)="setCategory('Spices')"
          >Seasonings and Spices</a
        >
        <a
          [ngClass]="{ 'active-btn': category === 'Vegetables' }"
          (click)="setCategory('Vegetables')"
          >Vegetables</a
        >
      </div>
    </div>
    <div class="col-sm-10 p-3">
      <!-- <app-items> </app-items> -->

      <div class="row" *ngIf="filteredItemList">
        <app-item-details
          *ngFor="let item of filteredItemList"
          [item]="item"
          (removeItemFromCart)="removeFromCart($event)"
          (addItemToCart)="addToCart($event)"
        >
        </app-item-details>
      </div>
    </div>
  </div>
</div>
